#pantallaPrincipal { background: #f2f4f7; padding: 20px; color: #333; }
select, input { width: 100%; padding: 15px; margin: 8px 0; border-radius: 10px; border: 1px solid #ccc; font-size: 16px; }
.btn-agregar { background: #17a2b8; color: white; border: none; padding: 15px; border-radius: 10px; font-weight: bold; }
#lista { flex-grow: 1; overflow-y: auto; margin-top: 15px; list-style: none; }
#lista li { background: white; padding: 10px; margin-bottom: 5px; border-radius: 8px; display: flex; justify-content: space-between; align-items: center; }
.btn-siguiente { background: #0b3c5d; color: white; border: none; padding: 18px; border-radius: 10px; font-weight: bold; }
