#splash { background: #0b3c5d; justify-content: center; align-items: center; z-index: 9999; }
.texto-presentacion {
    color: white; text-align: center; font-size: 2.2rem; letter-spacing: 8px; font-weight: 900;
    animation: introCine 3.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@keyframes introCine {
    0% { transform: scale(0.3); opacity: 0; }
    30% { transform: scale(1); opacity: 1; }
    100% { transform: scale(80); opacity: 0; filter: brightness(10); }
}
