/* RESET TOTAL */
* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* BLOQUEO TOTAL DE SCROLL EXTERNO */
  background: #0b3c5d;
  font-family: 'Segoe UI', sans-serif;
}

/* CONTENEDOR APP - OCUPA TODA LA VENTANA */
#app {
  width: 100%;
  height: 100%;
  display: none; 
  opacity: 0;
  transition: opacity 0.8s;
  background: #f2f4f7;
}

/* INSTANCIAS (PANTALLAS) */
.pantalla {
  display: none; /* Desaparecen por completo del flujo */
  width: 100%;
  height: 100%; /* Cada pantalla mide exactamente lo que mide el celular */
  padding: 20px;
  flex-direction: column;
  overflow-y: auto; /* Solo permite scroll interno si la lista de materiales es muy larga */
}

.pantalla.activa {
  display: flex; /* Solo la activa existe en la pantalla */
}

/* ESTILOS DEL CARTEL DE INICIO (SPLASH) */
#splash {
  position: fixed;
  inset: 0;
  background: #0b3c5d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.texto-presentacion {
  color: white;
  text-align: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 900;
  animation: introCine 3.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes introCine {
  0% { transform: scale(0.3); opacity: 0; filter: blur(15px); }
  25% { transform: scale(1); opacity: 1; filter: blur(0); }
  75% { transform: scale(1.1); opacity: 1; filter: brightness(1); }
  100% { transform: scale(80); opacity: 0; filter: brightness(10); }
}

/* INTERFAZ */
h2 { color: #0b3c5d; text-align: center; margin: 10px 0 20px; }
select, input { width: 100%; padding: 15px; margin: 8px 0; border-radius: 12px; border: 1px solid #ddd; font-size: 16px; background: white; }
button { width: 100%; padding: 18px; border: none; border-radius: 12px; color: white; font-weight: bold; cursor: pointer; font-size: 16px; flex-shrink: 0; }

/* RECUADRO DE FIRMA */
#canvasFirma {
  width: 100%;
  height: 350px;
  border: 4px solid #0b3c5d;
  border-radius: 15px;
  background: #fff;
  touch-action: none;
  margin: 15px 0;
}

/* PANTALLA DE ÉXITO FINAL */
#pantallaComprobante {
  background: #28a745;
  color: white;
  justify-content: center;
  align-items: center;
}

#lista li { background: white; padding: 12px; margin-bottom: 8px; border-radius: 10px; display: flex; justify-content: space-between; align-items: center; box-shadow: 0 2px 5px rgba(0,0,0,0.05); }
